/* Product Card */
.product-card {
    margin: 10px;
    padding: 15px ;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s;
  }
  .product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .product-card:hover .action-bar {
    right: 15px;
  }
  .product-card .product-details h6 {
    color: var(--color-red-100);
    font-size: 13px;
  }
  .product-card .product-details h5 {
    font-size: 15px;
    color: var(--color-dark)
  }
  .product-card .product-details p.price {
    font-size: 16px;
    color: var(--color-dark);
  }
  .action-bar {
    top: 10%;
    right: -23px;
    transition: 0.3s;
  }
/* Product Card End*/

/* Product Details */

.quantityBtn {
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}
.quantityBtn:hover {
  color: var(--color-gray);
  font-size: 22px;
}
.add-to-cart {
  background-color: var(--color-ededed);
  padding: 3px 5px;
  border-radius: 5px;
}
.reviews {
  padding: 0 20%;
}
/* Product Details End*/
